{% extends "eapp/base.html" %}
{% load static %}
{% block title %}
Events
{% endblock %}

{% block content %}
<div class="row">
  {% for item in food_items_list %}
    <div class="col-md-3 mb-4">
      <div class="card h-100" style="width: 18rem;">
        
        <img src="{{ item.img.url }}" 
             class="card-img-top" 
             alt="{{ item.name }}" 
             height="300">

        <div class="card-body text-center">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">₹ {{ item.price }}</p>
          
          <a href="#" class="btn btn-primary">
            Order Now
          </a>
        </div>

      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}