{% extends "eapp/base.html" %}
{% load static %}
{% block title %}
Events
{% endblock %}

{% block content %}
<h1 class="text-center">Events</h1>
<div class="container">
  {% for e in dict_eve %}
  <div class="card" style="width: 18rem;">
    <img src="{{ e.img.url }}" class="card-img-top" alt="Event image">
    <div class="card-body">
      <h5 class="card-title">{{ e.name }}</h5>
      <p class="card-text">{{ e.desc }}</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  {% endfor %}

    <!-- <div class="card" style="width: 18rem;">
    <img src="{% static 'eapp/images/img2.jpg' %}" class="card-img-top" alt="Event image">
    <div class="card-body">
      <h5 class="card-title">Event2</h5>
      <p class="card-text">Join with us</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
      <div class="card" style="width: 18rem;">
    <img src="{% static 'eapp/images/img4.jpg' %}" class="card-img-top" alt="Event image">
    <div class="card-body">
      <h5 class="card-title">Event3</h5>
      <p class="card-text">Join with us</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
      <div class="card" style="width: 18rem;">
    <img src="{% static 'eapp/images/img8.jpg' %}" class="card-img-top" alt="Event image">
    <div class="card-body">
      <h5 class="card-title">Event4</h5>
      <p class="card-text">Join with us</p>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div> -->
  
</div>
{% endblock %}

